.App {
  min-height: 100vh;
  text-align: center;
  /* background-color: #282c34; */
}

.wrap {
  /* display: inline-block; */
  position: absolute;
  max-width: 1140px;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}
.switch {
  text-align: left;
}
.close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
.date {
  display: flex;
  align-items: center;
}

input, label {
  margin: 2px;
  vertical-align: middle;
}

#dateRange {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  font-style: italic;
  color: red;
}
#readonly {
  border: 0;
}
#datepicker {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 32px
}
#placeholder {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
}
#modalTitle {
  font-size: 20px;
}
#title {
  color: white;
  font-size: 32px;
}
form label.required:after
{
    color: red;
    content: "*";
}
