.App {
  height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.logs {
  /* display: inline-block; */
  position: absolute;
  max-width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.switch {
  text-align: left;
}
.close {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 10px auto;
}

#readonly {
  border: 0;
}
.new {
  margin: 10px
}

input, label {
  margin: 2px;
  vertical-align: middle;
}
#datepicker {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 32px
}
#placeholder {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
}
form label.required:after
{
    color: red;
    content: "*";
}
